.encabezado{
    background-color: #ecc5c5;
    height: auto;
}

.encabezado h1{
        color: #8a2be2;
        font-family:monospace;
        font-size: 50px;
}

.encabezado h2{
    color: #9e54e4;
    font-family: "Montserrat";
    font-size: 40px;
}
 .main{
    background-color: firebrick;
  }
*{
    margin: 0%;
    padding: 0%;
}

.carrusel img{
    height: 550px;
    
}

.presentacion{
    max-width: 1100px;
    margin:auto ;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px 20px;
    
}

.formulario{
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}


    

.footer{
    display: flex;
    justify-content: space-around;
}

.footer li{
    text-decoration: none;

}

.productos{
    margin: auto;
    
    left: 500px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.productos img{
    width: 250px;
    height: 200px;
    justify-content: center;
}


.contacto img{
    width: 350px;
    height: 200px;
}


.contacto{
    margin-right: 200px;
    left: 500px;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 450px;

}

.contacto p{
    
}