.encabezado{
    background-color: #ecc5c5;
    height: auto;
}

.encabezado h1{
        color: #8a2be2;
        font-family:monospace;
        font-size: 50px;
}

.encabezado h2{
    color: #9e54e4;
    font-family: "Montserrat";
    font-size: 40px;
}

*{
    margin: 0%;
    padding: 0%;
}

.carrusel img{
    height: 550px;
    
}

.presentacion{
    display: flex;
    height:500px ;
    width: 700px;
    justify-content: center;
    align-content: center;
}

