.encabezado{
    background-color: #ecc5c5;
    height: auto;
}

.encabezado h1{
        color: #8a2be2;
        font-family:monospace;
        font-size: 50px;
}

.encabezado h2{
    color: #9e54e4;
    font-family: "Montserrat";
    font-size: 40px;
}
 .main{
    background-color: #bfe6ed;
  }
*{
    margin: 0%;
    padding: 0%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.container img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
.container p {
    margin: 0;
}


.carrusel img{
    width: 550px;
    height: 700px;
}

.presentacion{
    max-width: 1100px;
    margin:auto ;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto auto;
    padding: 15px 20px;
    column-gap: 50px;
}

.formulario{
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #75cede;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border:1px solid #000000;
}


    




.productos{
    margin: auto;
    
    left: 500px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.productos img{
    width: 250px;
    height: 200px;
    justify-content: center;
}


.contacto img{
    width: 350px;
    height: 200px;
}


.contacto{
    margin-right: 200px;
    margin-left: 200px;
    
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 300px;
    background-color: beige;
    
}

.card-body{
    background-color:  #0cadd7;
    justify-content: center;
    width:auto ;
    border: 1px solid #000000;
    
}

.card{
    width: 300px;
}


/* styles.css */

footer {
    text-align: center;
    background-color: #2b51a4;
}
footer a {
    margin: 0 50px;
    text-decoration: none;
    color: #f3e9e9;
    font-size: 20px;
    display: inline-block;
    

}
footer a i {
    margin-right: 8px;
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    footer a {
        margin: 10px 0;
        display: block;
    }



}
